@import 'part:@sanity/base/theme/variables-style';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text-color-secondary);
}

.header {
  position: relative;
  display: flex;

  @nest &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    border-bottom: 1px solid var(--hairline-color);
  }
}

.title {
  flex: 1;
  padding: 1rem;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.content {
  padding: 1em;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow: auto;

  @nest & > div + div {
    margin-top: 1em;
  }
}
