@import 'part:@sanity/base/theme/variables-style';

.root {
  @nest & > button {
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;
    position: relative;
    display: block;
    text-align: inherit;
    font: inherit;
    background: none;
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    border-radius: 0;
    padding: 1em 1em 1em 2.5em;
    margin: 0;
    outline: none;
    cursor: pointer;

    @nest &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 1.5em;
      height: calc(1em - 1px);
      border-left: 1px solid var(--hairline-color);
    }

    @nest &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(1em - 1px + 17px);
      left: 1.5em;
      bottom: 0;
      border-left: 1px solid var(--hairline-color);
    }
  }

  @nest &.isFirst > button:before {
    display: none;
  }

  @nest &.isLast > button:after {
    display: none;
  }
}

.root:not(.isSelected) > button:hover {
  background: color(var(--selectable-item-base) alpha(20%));

  /* @nest &:before, &:after {
    border-color: #fff;
  } */
}

.isSelected {
  composes: root;

  @nest & > button {
    background: var(--selectable-item-base);
    color: #fff;

    @nest &:before, &:after {
      border-color: #fff;
    }
  }
}

.iconContainer {
  width: 17px;
  height: 17px;
  position: absolute;
  top: calc(1em - 1px);
  left: 1em;

  @nest & > svg {
    display: block;
    width: 17px;
    height: 17px;
  }
}

.heading {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.dateline {
  font-size: 13px;
  line-height: 17px;
}
