@import 'part:@sanity/base/theme/variables-style';

.spinnerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
  background-color: color(var(--component-bg) a(60%));

  @media (--screen-medium) {
    position: absolute;
    height: calc(100vh - 6rem); /* 6rem is aprox the height of the header stuff */
  }
}

.paneFunctions {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-right: 0;

  @media (--screen-medium) {
    font-size: 1em;
  }
}
