@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;
}

.withHistoryMode {
  composes: root;
  flex: 3;

  @media (--screen-medium) {
    justify-content: stretch;
    display: flex;
  }
}

.navigatorContainer {
  flex: 1;
  min-width: 200px;
  max-width: 240px;
  height: 100%;
}

.editorContainer {
  flex: 3;
  height: 100%;
  min-width: 300px;

  @nest .withHistoryMode & {
    margin: 0.5em 0;
    border-radius: 4px;
    overflow: hidden;
    height: calc(100% - (0.5em * 2));
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.inspectorContainer {
  flex: 2;
  min-width: 300px;
  max-width: 540px;
  height: 100%;
}
