@import 'part:@sanity/base/theme/variables-style';

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.editorContainer {
  flex: 3;
  min-width: 300px;
}

.inspectorContainer {
  flex: 2;
  min-width: 300px;
  max-width: 540px;
  height: 100%;
}

.paneFunctions {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  padding-right: 0;

  @media (--screen-medium) {
    font-size: 1em;
  }
}
