.root {
  background: #fff;
  border-radius: 4px;
}

.root + .root {
  margin-top: 1.5em;
}

.header {
  padding: 0.75em;
  padding-bottom: 0;
}

.title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
}

.content {
  padding: 0.75em;
}
