.root {
  /* empty */
}

.title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin: 1.5em 0 0.5em 0;
}

.diffCardList {
  border-left: 1px solid #cad1dc;
  padding-left: 0.5em;
}

.diffCard + .diffCard {
  margin-top: 1.5em;
}
