@import 'part:@sanity/base/theme/variables-style';

.scrollContainer {
  composes: scrollY from 'part:@sanity/base/theme/layout/scrolling-style';
  background-color: var(--body-bg);
  display: block;
  height: 100%;
  box-sizing: border-box;
  overflow-y: overlay;
  flex-direction: column;
  flex-grow: 1;

  @nest .root.isFullscreen & {
    overflow: auto;

    @media (--screen-medium) {
      padding: var(--medium-padding);
    }
  }
}

.editorWrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;

  @nest .root.isFullscreen & {
    @media (--screen-medium) {
      max-width: calc(640px + var(--medium-padding) * 2);
    }

    @media (--screen-large) {
      max-width: calc(720px + var(--large-padding) * 2);
    }
  }
}

.blockExtras {
  position: relative;
  top: 0;
  width: 100%;

  @nest .root.isFullscreen & {
    width: calc(100% - var(--block-extras-width));
    /* This is needed for the change connectors to render properly in fullscreen mode */
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  @nest .root.isFullscreen .hasNoBlockExtras & {
    width: 100%;
  }
}
