.root {
  background: #fff;
  border-radius: 4px;
}

.header {
  padding: 0.75em;
  border-bottom: 1px solid #eee;
}

.title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
  margin: 0;
}

.content {
  padding: 0.75em;
}
